@CHARSET "UTF-8";

#my-anchor {
	-fx-background-color: #a6b5c9;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#303842 0%, #3e5577 20%, #375074 100%);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.label {
	-fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
}

#combo-box {
	-fx-background-color: linear-gradient(#303842 0%, #3e5577 20%, #375074 100%)
	
}